@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap);

.form-signin {
  max-width: 500px;
  padding: 60px;
  margin: 0 auto;
  background-color:rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .2);
  border-radius: 15px;
  margin-top:8%;
  font-family: 'Poppins', sans-serif;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 15px;
  margin-top:auto;

}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 15px;
}

.form-input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px ;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;

}
.form-button {
  background: linear-gradient(103deg, rgba(235,131,147,1) 0%, rgba(187,147,227,1) 39%, rgba(235,195,227,1) 100%);
  border: none;
  color: white;
  padding: 15px 220px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: auto;
  transition-duration: 0.2s;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, .2); 
  transition: all .4s;
  outline: none;

}
.form-button:hover {
  background: linear-gradient(103deg, rgba(235,131,147,.8) 0%, rgba(187,147,227,.8) 39%, rgba(235,195,227,.8) 100%);
  transform: translateY(-5px);
  box-shadow: 7px 7px 20px  rgba(0, 0, 0, .2);

}
.form-button:active {
  transform: translateY(-2px);
    transform: scale(.97);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .2);
    transition: all .1s;
}
.form-signin-heading {
  font-size:40px;
  background: linear-gradient(103deg, rgba(235,131,147,1) 0%, rgba(187,147,227,1) 39%, rgba(235,195,227,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.form-labels {
  font-weight: 600;
  color:grey;
}
.AHAC {
  color:grey;
  font-weight: 600;

}

.AHAC a {
  color:rgba(187,147,227,1);
  font-weight: 600;
  text-decoration: none;
  /*text-transform: uppercase;*/

}

.RM {
  color:grey;
  font-weight: 400;

}

/*CSS CHECKBOX*/

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgba(235,131,147,1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4.5px;
  top: 2.3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}