body {
  background-image: url(images/wood-dark-pattern.jpg);
  background-position: top left;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-family: 'Poppins', sans-serif;
}

#here {
  color: gold;
  font-size: 5em;
  margin: 20px;
}

#win {
  color: #7FFF00;
  font-size: 5em;
  margin: 20px;
}

#lose {
  color: red;
  font-size: 5em;
  margin: 20px;
}

#header {
  font-size: 3em;
  margin: 20px;
}

button {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #5e5e5e;
  color: white;
}

#computer_deck {
  height: 250px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#user_deck{
  height: 250px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}

#deck-img {
  max-width: 150px;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

#computer-card-img, #user-card-img {
  max-width: 140px;
  float: right;
  margin-left: auto;
  margin-right: auto;
}

#user-name, #computer-name {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
  font-size: 1em;
}

.btn-flip, .btn-playagain, .btn-start {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 0px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 2em;
  padding: 10px 20px 10px 20px;
  margin: 20px 10px 10px 10px;
  text-decoration: none;
}

.btn-flip:hover, .btn-playagain:hover, .btn-start:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}