<!DOCTYPE html> <!-- this file will contain the nav bar and other stuff -->
<html>

<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a class="active" href="#">Tutorials</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
</header>


<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

{% block body %}{% endblock %}


</html>
