<!DOCTYPE html> <!-- this file will contain the nav bar and other stuff -->
<html>

<!-- Header -->
<header id="header">
    <a class="logo" href="index.html">P4 Birds</a>
        <a class="navbar-brand" href="#">Casino Website</a>
                <a class="nav-link" href="/blackjack">Blackjack Game</a>
    <a class="nav-link" href="leaderboards">Leaderboards</a>
            </div>
        </div>
    </nav>
    <nav>
        <a href="#">Home</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.html">Home</a></li>
    </ul>
</nav>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>


{% block body %}{% endblock %}

</html>
