{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasterEgg</title>

    <section id="cta" class="wrapper" style = "background-color: white">
        <div class="inner">
            <h1>Welcome to our Hidden Easter Egg Page</h1>
            <p style= color: black;>This location will later store College Board AP Prep materials as well as other artifacts such as code and algorithms</p>
            <h2>Who Are We?</h2>
            <h3>Shekar: </h3>
            <ul>
                <li>I am competent at python programming and fundamentals and am slowly becoming an expert.</li>
                <li>I am close to becoming an expert with CSS and styling</li>
                <li>I am competent in using html code and designing a front end for a website.</li>
                <li>I can build a web server using python and flask with app routes</li>
                <li>I am now learning concepts of curating data, searching data, and starting to become competent in concepts like Data Analytics.</li>
            </ul>
            <h3>Max: </h3>
            <ul>
                <li>I am competent at python programming and fundamentals and am slowly becoming an expert.</li>
                <li>I am close to becoming an expert with Jinja and bootstrap navigation</li>
                <li>I am competent in using html code and designing a front end for a website.</li>
                <li>I can build a web server using python and flask with app routes</li>
                <li>I am well versed in deploying a webserver using raspberry pi, nginx, and gunicorn</li>
                <li>I have worked with Internet Service Provider DNS records to setup my own Domain.</li>
            </ul>
            <h3>Ahmad: </h3>
            <ul>
                <li>I am competent at python programming and fundamentals and am slowly becoming an expert.</li>
                <li>I am competent in database concepts like  establishing tables to setup and manage user accounts. I know Flask services like login_required.</li>
                <li>I am competent in using html code and designing a front end for a website.</li>
                <li>I can build a web server using python and flask with app routes</li>
                <li>I can do backend work with SQL databases, specifically SQLite and SQLalchemy utilizing the Flask framework.</li>
            </ul>
            <h3>Ryan: </h3>
            <ul>
                <li>I am competent at python programming and fundamentals and am slowly becoming an expert.</li>
                <li>I am close to becoming an expert with Jinja and bootstrap navigation</li>
                <li>I am competent in using html code and designing a front end for a website.</li>
                <li>I can build a web server using python and flask with app routes</li>
                <li>I am well versed in using tools like photoshop for website aesthetics</li>
                <li>I am competent with using API's such as Transcrypt create Javascript Code<li>
            </ul>
            <h3>College Board</h3>
            <ul>
                <li>For the Program Code(PC) part of the APCSP Portfolio, we as a group, have decided to use our username and login database code. The input put in is a program downloadable onto the desktop of the local host computer that will store the user imputed data such as their login username and password onto the program.<li>
                <li>Another list that will represent a collection of data that is stored and used to manage a program complexity is the leaderboard system that is being made in our project. The leaderboard will be able to collect data and store it from the program's purpose.<li>
                <li>A procedure that contributes to the program's intended purpose is the blackjack game which can use data to execute the game and return in back to the player.<li>
            <ul>
        </div>
</head


</body>
</html>
{% endblock %}

