{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">


<body style = "background-color:lightgray ; font face: helvetica; font-style: italic">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>EasterEgg</title>

    <section id="cta" class="wrapper" style = "">
        <div class="inner">


        </div>
        <h1 style="font-style:normal">Welcome to our Hidden Easter Egg Page</h1>
        <p style= "color: black; padding-bottom: 20px; font-style:normal">This location will later store College Board AP Prep materials as well as other artifacts such as code and algorithms</p>


        <body>

        <nav class="navbar navbar-light navbar-1 white">

            <!-- Navbar brand -->
            <!-- Collapse button -->
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                        aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation" style="font-size: xx-large; border: 0em;"><span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/" style="font-family: Impact, Charcoal, sans-serif ; font-size: 25px; color: white;">
                    Continue to see team + college board
                </a>

            </div>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent15">
                <!-- Links -->
                <div class="navbar-nav" style="font-size: large;">

                    <h2>Who Are We?</h2>
                    <h3 style="font-style:normal; color: blue; text-decoration: underline">Shekar: </h3>
                    <ul>
                        <li>I am competent at python programming and fundamentals and am slowly becoming an expert.
                            I am now becoming good on using lists, functions and dictionaries to efficiently carry out procedures,
                            and I can now implement these python skills into a project </li>
                        <li>I am close to becoming an expert with CSS styling and data implementation. By using either in-line
                            css, or in-file css, I am able to further the HTML page by adding both major and minor details</li>
                        <li>I am competent in using html code and designing a front end for a website. This is what allowed
                            me to combine many files and all the CSS to create an engaging and efficient home page and website</li>
                        <li>I can build a web server using python and flask with app routes. I can do this to combine
                            many html, js, and python files in one project </li>
                        <li>I am now learning concepts of data, and applying data to solve algorithms. I am currently
                            trying to use data from one application of our project for another application of our project,
                            and making equations and algorithms to achieve it</li>
                        <li>Compsci has helped me become a better team worker since I realized that you don't have to be a master
                            at all parts of coding. After talking and coding with my teammates, I understand their strengths
                            and weaknesses, and I can rely on them to complete a part of the project. The trust that is built
                            helps the project gets done, as each member works on a different aspect of the project. I have realized
                            this through the projects my team has coded and I am confident that as better team workers, we
                            can get much more done </li>
                    </ul>
                    <h3 style="font-style:normal; color: blue; text-decoration: underline">Max: </h3>
                    <ul>
                        <li>I am competent at python programming and fundamentals and am slowly becoming an expert.</li>
                        <li>I am close to becoming an expert with Jinja and bootstrap navigation</li>
                        <li>I am competent in using html code and designing a front end for a website.</li>
                        <li>I can build a web server using python and flask with app routes</li>
                        <li>I am well versed in deploying a webserver using raspberry pi, nginx, and gunicorn</li>
                        <li>I have worked with Internet Service Provider DNS records to setup my own Domain.</li>
                    </ul>
                    <h3 style="font-style:normal; color: blue; text-decoration: underline">Ahmad: </h3>
                    <ul>
                        <li>I am competent at python programming and fundamentals and am slowly becoming an expert.</li>
                        <li>I am competent in database concepts like  establishing tables to setup and manage user accounts. I know Flask services like login_required.</li>
                        <li>I am competent in using html code and designing a front end for a website.</li>
                        <li>I can build a web server using python and flask with app routes</li>
                        <li>I can do backend work with SQL databases, specifically SQLite and SQLalchemy utilizing the Flask framework.</li>
                    </ul>
                    <h3 style="font-style:normal; color: blue; text-decoration: underline">Ryan: </h3>
                    <ul>
                        <li>I am competent at python programming and fundamentals and am slowly becoming an expert.</li>
                        <li>I am close to becoming an expert with Jinja and bootstrap navigation</li>
                        <li>I am competent in using html code and designing a front end for a website.</li>
                        <li>I can build a web server using python and flask with app routes</li>
                        <li>I am well versed in using tools like photoshop for website aesthetics</li>
                        <li>I am competent with using API's such as Transcrypt create Javascript Code<li>
                    </ul>
                    <h3 style = "color:green">College Board:</h3>
                    <ul>
                        <li>For the Program Code(PC) part of the APCSP Portfolio, we as a group, have decided to use our username and login database code. The input put in is a program downloadable onto the desktop of the local host computer that will store the user imputed data such as their login username and password onto the program.<li>
                        <li>Another list that will represent a collection of data that is stored and used to manage a program complexity is the leaderboard system that is being made in our project. The leaderboard will be able to collect data and store it from the program's purpose.<li>
                        <li>A procedure that contributes to the program's intended purpose is the blackjack game which can use data to execute the game and return in back to the player.<li>
                    </ul>


                </div>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->
        </nav>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        </body>


</body>
</html>
{% endblock %}

