{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasterEgg</title>

    <section id="cta" class="wrapper" style = "background-color: white">
        <div class="inner">
            <h1>Welcome to our Hidden Easter Egg Page</h1>
            <p style= color: black;>This location will later store College Board AP Prep materials as well as other artifacts such as code and algorithms</p>
        </div>
</head


</body>
</html>
{% endblock %}