<!DOCTYPE HTML>
<html lang="en">
{% extends "base.html" %}
{% block body %}


<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{doa}}

    <html>


    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"

    </head>

<body>

<nav class="navbar navbar-light navbar-1 white">

    <!-- Navbar brand -->
    <!-- Collapse button -->
    <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation" style="font-size: xx-large; border: 0em;"><span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/" style="font-family: Impact, Charcoal, sans-serif ; font-size: 25px; color: white;">
            Explanation
        </a>

    </div>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
        <!-- Links -->
        <div class="navbar-nav" style="font-size: large; color: pink">
            <a class="nav-link runtime " href=""></a>
            <a style="color: white">This is a continuing page. This will show new ideas and upcoming projects the team will be working on and implementing</a>
            <a class="nav-link runtime " href=""></a>

        </div>
        <!-- Links -->
    </div>
    <!-- Collapsible content -->
</nav>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

<body style = "background-color:gray"></body>


<!--<p style = "color:turquoise ; width:500px ; height:100px ; font-size:50px;">Shekar's Website</p>-->
<h1 style = "color:white ; height:130px ; right: 50px ; font-family: Brush Script MT, Brush Script Std, cursive ; text-align: center ; margin-right:center ; width:1420px ; font-size:70px ; padding-top: 20px" > <u>Future_Games:</u></h1>


<!--https://playground.shekark642.repl.run https://repl.it/@shekark642/playground?lite=true-->

<div class="row justify-content-center" style="margin-top: 1vw;">
    <div class="col-8">
        <iframe frameborder="0" width="100%" height="620px" src="https://repl.it/@shekark642/fortune-teller?lite=true"></iframe>
    </div>
</div>
<h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see repository: "poker"<form method="get" action="https://repl.it/@shekark642/fortune-teller"> <button type="submit">Visit Code</button> </form> </h1>


<div class="row justify-content-center" style="margin-top: 1vw;">
    <div class="col-8">
        <iframe frameborder="0" width="100%" height="620px" src="https://repl.it/@shekark642/playground?lite=true"></iframe>
    </div>
</div>
<h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see repository: "uno"<form method="get" action="https://repl.it/@shekark642/playground"> <button type="submit">Visit Code</button> </form> </h1>

<div class="row justify-content-center" style="margin-top: 1vw;">
    <div class="col-8">
        <iframe frameborder="0" width="100%" height="620px" src="https://repl.it/@shekark642/username-password?lite=true"></iframe>
    </div>
</div>
<h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see repository: "go fish"<form method="get" action="https://repl.it/@shekark642/username-password"> <button type="submit">Visit Code</button> </form> </h1>










{% for data in datalist: %}
{% set doa = data["date"] %}
{% set name = data["name"] %}
{% set link = data["embedlink"] %}
{% set linkout = data["linkout"] %}
{% set gist = data["gist"] %}
<h1>{{greeting}} <span style='color:orangered;'></span></h1>
<ol>
    <li>Due date: <span style='color:midnightblue;'>{{doa}}</span></li>
    <li>Task: <span style='color:midnightblue;'>{{name}}</span></li>

    <div class="row justify-content-center" style="margin-top: 1vw;">
        <div class="col-8">
            <iframe frameborder="0" width="100%" height="620px" src="https://repl.it/@shekark642/fortune-teller?lite=true"></iframe>
        </div>
    </div>

    <h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see repository: {{name}} <form method="get" action={{embedlink}}> <button type="submit">Visit Code</button> </form> </h1>

    {% if 'gist' in data %}
    <li>{{job}} link: <span style='color:midnightblue;'>{{gist}}</span></li>
    {% endif %}
</ol>
<div>
    <script src={{gist}}></script>
</div>

{% endfor %}




{% endblock %}