<!DOCTYPE HTML>
{% extends "base.html" %}

{% block body %}

<html lang="english">
<head>
    <title>P4 Birds</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
</head>
<body class="is-preload">


<div>
    <img src= "https://s7d2.scene7.com/is/image/ritzcarlton/RCARUBA_00081_conversion?$XlargeViewport100pct$" style = "position: fill; width: 1535px; height: 650px" alt=HELLO>

    <div class="top-left">Card Games</div>
    <div class="top-left2">Members: Shekar, Ryan, Irfan, Max</div>

    <div class="bottom-right">Period 4 CSP </div>
</div>


        <header class="special">
            <div class="highlights">
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                            <h3>War</h3>
                        </header>
                        <p>War is a simple card game, typically played by two players using a standard playing card deck — and often played by children. There are many variations, including the German 32-card variant Tod und Leben</p>
                        <form method="get" action="https://github.com/shekark642/P4Birds"> <button type="submit">Visit Game</button> </form>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                            <h3>Blackjack</h3>
                        </header>
                        <p>Blackjack, formerly also Black Jack and Vingt-Un, is the American member of a global family of banking games known as Twenty-One, whose relatives include the British game of Pontoon and the European game, Vingt-et-Un</p>
                        <form method="get" action="https://github.com/shekark642/P4Birds"> <button type="submit">Visit Game</button> </form>

                    </div>
                    <div class="row justify-content-center" style="margin-top: 1vw;">
                        <div class="col-8">

                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
                            <h3>Future Games</h3>
                        </header>
                        <p>Future games may include games like poker or patience, and will be added to the website as soon as development is finished</p>
                        <form method="get" action="https://github.com/shekark642/P4Birds"> <button type="submit">Visit Game</button> </form>
                    </div>
                </section>

            </div>
        </header>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper" style = "background-color: maroon" color= "white">
    <div class="inner">
        <h2>Prizes</h2>
        <p style = "color: white;">Prizes can be earned by players once they win enough in-game currency, and if they are logged into an account. Prizes can be earned by these players if they choose to purchase anything from the website store</p>
    </div>
</section>

<!-- Testimonials -->
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>Reviews</h2>
            <p>Users who care to rate their experience on our platform</p>
        </header>
        <div class="testimonials">
            <section>
                <div class="content">
                    <blockquote>
                        <p>"Great learning journal associated with the project, I'm not going to take away points unless you talk yourself out of them"(rough transciption of conversation)</p>
                    </blockquote>
                    <div class="author">
                        <p class="credit">- <strong>John Mortensen</strong> <span>AP Teacher - DNHS</span></p>
                    </div>
                </div>
            </section>
            <section>
                <div class="content">
                    <blockquote>
                        <p>"Project idea 10/10!"</p>
                    </blockquote>
                    <div class="author">
                        <p class="credit">- <strong>John Mortensen</strong> <span>AP Teacher - DNHS</span></p>
                    </div>
                </div>
            </section>
            <section>
                <div class="content">
                    <blockquote>
                        <p>"However your presentations was great.  If you start communicating some Ah ha's in coding or general channel you could perhaps get a 25,26, or 27"</p>
                    </blockquote>
                    <div class="author">
                        <p class="credit">- <strong>John Mortensen</strong> <span>AP Teacher - DNHS</span></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h3 style = "color: brown">About</h3>
                <p>We are a group of high school students that want to pursue our passions of coding and gaming, as well as support others. We made this website to do this, but do not condone any inappropriate use of our gambling games.</p>
            </section>
            <section>
                <h4>Contributors</h4>
                <ul class="alt">
                    <li><a href="#">Ryan Shay</a></li>
                    <li><a href="#">Shekar Krishnamoorthy</a></li>
                    <li><a href="#">Ahmad Irfan Nasim</a></li>
                    <li><a href="#">Max Vukovich</a></li>

                </ul>
            </section>
            <section>
                <h4>Social Media</h4>
                <ul class="plain">
                    <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                    <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                    <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                    <li><a href="#"><i class="icon fa-github">&nbsp;</i>Youtube</a></li>
                </ul>
            </section>
        </div>

    </div>
</footer>

<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

}

.bottom-tap {
  position: absolute;
  color: red;
  font-size: underdo command

}

.top-left {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 25px;
  left: 16px;
  font-size:90px;
  color:blue;

}


.top-left2 {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 120px;
  left: 16px;
  font-size:60px;
  color:lightblue;

}

.top-right {
  position: absolute;
  top: 50px;
  right: 16px;
  font-size:60px;
  color:turquoise;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size:40px;
  color:white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .button {
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
}
</style>


</body>
</html>
{% endblock %}
