{% extends "base.html" %}

<!--{% block loginvariant %} -->
<!--<li style="float:right"><a class="navbar-right" href="{{ url_for('signup') }}">Register</a></li>-->
<!--{% endblock %}-->

{% block body %}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<body style = "color: black; font-family: 'Poppins', serif; font-size: 28px; background-color:lightgray"></body>
  <form class="form-signin" method="POST" action="/login">
    <h2 class="form-signin-heading" style="color:blue; font-size: 50px; height:80px">Login</h2>
    <!-- IMPORTANT - GENERATES CSRF TOKEN -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<div class="form-group required">
		<label class="control-label form-labels" for="username">Username</label>
    	<input class="form-input" id="username" name="username" required type="text" placeholder="Enter username" value="">


	</div>
	<div class="form-group required">
		<label class="control-label form-labels" for="password">Password</label>
        <input class="form-input" id="password" name="password" required type="password" placeholder="Enter password" value="">
 	</div>
    <label class="container">
    	<p class="RM">Remember me</p>
 		<input id="remember" name="remember" type="checkbox" checked="checked" value="y">
  		<span class="checkmark"></span>
	</label>
    <p class="AHAC">Not Registered?<a class="AHAC" href="signup"> Create an account.</a></p>
    <center><button class="form-button" type="submit">Login</button></center>
  </form>
{% endblock %}