{% extends "base.html" %}



{% block body %}
<body style = "color: black; font-family: Garamond, serif; font-size: 28px; background-color:lightgray"></body>

  <form class="form-signin" method="POST" action="signup">
    <h2 style = "font-size: 50px; color: blue"class="form-signin-heading">REGISTER</h2>
    <!-- IMPORTANT - GENERATES CSRF TOKEN -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<div class="form-group required">
    <label class="control-label form-labels" for="username">Username</label>
    	<input class="form-input" id="username" name="username" required type="text" placeholder="Enter username" value="">
        <p style = "font-size: 17px; padding-left: 120px">at least 4 characters*</p>

    </div>
	<div class="form-group required">
    <label class="control-label form-labels" for="email">Email</label>
    	<input class="form-input" id="email" name="email" required type="text" placeholder="Enter email" value="">
        <p style = "font-size: 17px; padding-left: 74px">does not have to be legitimate username*</p>

    </div>
	<div class="form-group required">
    <label class="control-label form-labels" for="password">Password</label>
        <input class="form-input" id="password" name="password" required type="password" placeholder="Enter password" value="">
        <p style = "font-size: 17px; padding-left: 115px">at least 8 characters*</p>

    </div>
    <p class="AHAC">Already have an account?<a class="AHAC" href="login"> Login.</a></p>
    <center><button class="form-button" type="submit">Create</button></center>
  </form>

<head>

    <img src= "https://media1.giphy.com/media/xUPGGDNsLvqsBOhuU0/200.gif" style = "padding: 10px; position: fill; width: 100; height: 66" alt=HELLO>

</head>
{% endblock %}


<!--YERR-->
