<!DOCTYPE HTML>
<html lang="en">
{% extends "base.html" %}
{% block body %}

<link rel="stylesheet" href="static/war.css">
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<title>War!</title>
</head>
<body>
<h1 id='header'>WAR!</h1>
<span class="btn-start">START</span>
<span class="btn-flip">FLIP!</span>
<div id="decision"></div>
<br />
<div id="userPoints"></div>
<br />
<div id="computerPoints"></div>
<br />
<div id= "user_deck">
    <span id="user-name">User</span>
    </br>
    <img id= "deck-img" src="images/deck-cards-red.png">
    <div id="user-card-flipped"></div>
</div>
<div id="here"></div>
<div id= "computer_deck">
    <span id="computer-name">Computer</span>
    </br>
    <img id= "deck-img" src="images/deck-cards-blue.png">
    <div id="computer-card-flipped"></div>
</div>
<span class="btn-playagain">Play Again?</span>

<script src="war.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script>
	$(document).ready(function() {
		$('.btn-start').show();
		$('.btn-flip').hide();
		$('.btn-playagain').hide();
	});
	$('.btn-start').click(function(e) {
		$(this).remove();
		$('.btn-flip').toggle();
		assignDeck(shuffle(cards));
		console.log("userDeck: ", userDeck);
		console.log("computerDeck: ", computerDeck);
		mainGame();
		$('#userPoints').empty().append("UserPoints: " + userPoints);
		$('#computerPoints').empty().append("ComputerPoints: " + computerPoints);
		winnerCheck(userPoints, computerPoints);
	});
	$('.btn-flip').click(function(e) {
		mainGame();
		$('#userPoints').empty().append("UserPoints: " + userPoints);
		$('#computerPoints').empty().append("ComputerPoints: " + computerPoints);
		winnerCheck(userPoints, computerPoints);
		// $('#war').remove();
	});
	$('.btn-playagain').click(function(e) {
		$(this).hide();
		$('.btn-flip').toggle();
		$('#win').remove();
		$('#lose').remove();
		MGi = 0;
		userDeck = [], userPoints = 0;
		computerDeck = [], computerPoints = 0;
		assignDeck(shuffle(cards));
		console.log("userDeck: ", userDeck);
		console.log("computerDeck: ", computerDeck);
		mainGame();
		$('#userPoints').empty().append("UserPoints: " + userPoints);
		$('#computerPoints').empty().append("ComputerPoints: " + computerPoints);
		winnerCheck(userPoints, computerPoints);
	});
</script>
</body>

{% endblock %}
</body>
</html>
